server:
  port: 8090

server:
  tomcat:
    accept-count: 1000
    max-threads: 1000
    max-connections: 2000
    uri-encoding: UTF-8

logging:
  level:
    root: debug
  path: /root/logs/chrs

spring:
  http:
    multipart:
      max-file-size: 3000MB
      max-request-size: 3000MB
  application:
    name: seveteen-service
  jpa:
    show-sql: true
    database: MYSQL
  datasource:
    url: jdbc:mysql://119.29.196.106:3306/seventeen?useSSL=false&&characterEncoding=UTF-8
    username: root
    password: 'seventeen'
    initialize: false
    driver-class-name: com.mysql.jdbc.Driver
    tomcat:
      max-active: 600
      max-wait: 5000
      initial-size: 8
#  没有配置redis 使用cache
#  cache:
#    type: redis
#  redis:
#    host: 172.16.0.3
#    port: 6379
#    password: root
#    database: 1
#    pool:
#      max-active: 600
#      max-wait: -1
#      max-idle: 16
#      min-idle: 0
#    timeout: 1000
security:
  basic:
    enabled: false

management:
  security:
    enabled: false
mybatis:
  type-aliases-package: com.seventeen
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

info:
  app:
    name: seventeen
    description: seventeen服务
    version: v1.0.0
