<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SeUserAttestationMapper">
  <resultMap id="BaseResultMap" type="mapper.SeUserAttestation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="idcard0" jdbcType="VARCHAR" property="idcard0" />
    <result column="idcard1" jdbcType="VARCHAR" property="idcard1" />
    <result column="user_photo" jdbcType="VARCHAR" property="userPhoto" />
    <result column="id_code" jdbcType="VARCHAR" property="idCode" />
    <result column="true_name" jdbcType="VARCHAR" property="trueName" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="rec_time" jdbcType="TIMESTAMP" property="recTime" />
    <result column="is_pass" jdbcType="INTEGER" property="isPass" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
    <result column="verify_id_crad" jdbcType="INTEGER" property="verifyIdCrad" />
    <result column="verify_id_crad_desc" jdbcType="VARCHAR" property="verifyIdCradDesc" />
    <result column="face_code" jdbcType="INTEGER" property="faceCode" />
    <result column="face_desc" jdbcType="VARCHAR" property="faceDesc" />
    <result column="similarity" jdbcType="REAL" property="similarity" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, idcard0, idcard1, user_photo, id_code, true_name, end_time, rec_time, 
    is_pass, sex, nation, birth, address, authority, verify_id_crad, verify_id_crad_desc, 
    face_code, face_desc, similarity
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation (id, user_id, idcard0, 
      idcard1, user_photo, id_code, 
      true_name, end_time, rec_time, 
      is_pass, sex, nation, 
      birth, address, authority, 
      verify_id_crad, verify_id_crad_desc, face_code, 
      face_desc, similarity)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{idcard0,jdbcType=VARCHAR}, 
      #{idcard1,jdbcType=VARCHAR}, #{userPhoto,jdbcType=VARCHAR}, #{idCode,jdbcType=VARCHAR}, 
      #{trueName,jdbcType=VARCHAR}, #{endTime,jdbcType=DATE}, #{recTime,jdbcType=TIMESTAMP}, 
      #{isPass,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{birth,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{authority,jdbcType=VARCHAR}, 
      #{verifyIdCrad,jdbcType=INTEGER}, #{verifyIdCradDesc,jdbcType=VARCHAR}, #{faceCode,jdbcType=INTEGER}, 
      #{faceDesc,jdbcType=VARCHAR}, #{similarity,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="idcard0 != null">
        idcard0,
      </if>
      <if test="idcard1 != null">
        idcard1,
      </if>
      <if test="userPhoto != null">
        user_photo,
      </if>
      <if test="idCode != null">
        id_code,
      </if>
      <if test="trueName != null">
        true_name,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="recTime != null">
        rec_time,
      </if>
      <if test="isPass != null">
        is_pass,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="authority != null">
        authority,
      </if>
      <if test="verifyIdCrad != null">
        verify_id_crad,
      </if>
      <if test="verifyIdCradDesc != null">
        verify_id_crad_desc,
      </if>
      <if test="faceCode != null">
        face_code,
      </if>
      <if test="faceDesc != null">
        face_desc,
      </if>
      <if test="similarity != null">
        similarity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userPhoto != null">
        #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null">
        #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=DATE},
      </if>
      <if test="recTime != null">
        #{recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPass != null">
        #{isPass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=VARCHAR},
      </if>
      <if test="verifyIdCrad != null">
        #{verifyIdCrad,jdbcType=INTEGER},
      </if>
      <if test="verifyIdCradDesc != null">
        #{verifyIdCradDesc,jdbcType=VARCHAR},
      </if>
      <if test="faceCode != null">
        #{faceCode,jdbcType=INTEGER},
      </if>
      <if test="faceDesc != null">
        #{faceDesc,jdbcType=VARCHAR},
      </if>
      <if test="similarity != null">
        #{similarity,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        idcard0 = #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        idcard1 = #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userPhoto != null">
        user_photo = #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null">
        id_code = #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        true_name = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="recTime != null">
        rec_time = #{recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPass != null">
        is_pass = #{isPass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        authority = #{authority,jdbcType=VARCHAR},
      </if>
      <if test="verifyIdCrad != null">
        verify_id_crad = #{verifyIdCrad,jdbcType=INTEGER},
      </if>
      <if test="verifyIdCradDesc != null">
        verify_id_crad_desc = #{verifyIdCradDesc,jdbcType=VARCHAR},
      </if>
      <if test="faceCode != null">
        face_code = #{faceCode,jdbcType=INTEGER},
      </if>
      <if test="faceDesc != null">
        face_desc = #{faceDesc,jdbcType=VARCHAR},
      </if>
      <if test="similarity != null">
        similarity = #{similarity,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    set user_id = #{userId,jdbcType=VARCHAR},
      idcard0 = #{idcard0,jdbcType=VARCHAR},
      idcard1 = #{idcard1,jdbcType=VARCHAR},
      user_photo = #{userPhoto,jdbcType=VARCHAR},
      id_code = #{idCode,jdbcType=VARCHAR},
      true_name = #{trueName,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=DATE},
      rec_time = #{recTime,jdbcType=TIMESTAMP},
      is_pass = #{isPass,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=VARCHAR},
      verify_id_crad = #{verifyIdCrad,jdbcType=INTEGER},
      verify_id_crad_desc = #{verifyIdCradDesc,jdbcType=VARCHAR},
      face_code = #{faceCode,jdbcType=INTEGER},
      face_desc = #{faceDesc,jdbcType=VARCHAR},
      similarity = #{similarity,jdbcType=REAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="mapper.SeUserAttestation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="idcard0" jdbcType="VARCHAR" property="idcard0" />
    <result column="idcard1" jdbcType="VARCHAR" property="idcard1" />
    <result column="userPhoto" jdbcType="VARCHAR" property="userphoto" />
    <result column="idCode" jdbcType="VARCHAR" property="idcode" />
    <result column="trueName" jdbcType="VARCHAR" property="truename" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="recTime" jdbcType="TIMESTAMP" property="rectime" />
    <result column="isPass" jdbcType="INTEGER" property="ispass" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
    <result column="verifyIdCrad" jdbcType="INTEGER" property="verifyidcrad" />
    <result column="verifyIdCradDesc" jdbcType="VARCHAR" property="verifyidcraddesc" />
    <result column="faceCode" jdbcType="INTEGER" property="facecode" />
    <result column="faceDesc" jdbcType="VARCHAR" property="facedesc" />
    <result column="similarity" jdbcType="REAL" property="similarity" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, idcard0, idcard1, userPhoto, idCode, trueName, endTime, recTime, isPass, 
    sex, nation, birth, address, authority, verifyIdCrad, verifyIdCradDesc, faceCode, 
    faceDesc, similarity
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation (id, userId, idcard0, 
      idcard1, userPhoto, idCode, 
      trueName, endTime, recTime, 
      isPass, sex, nation, 
      birth, address, authority, 
      verifyIdCrad, verifyIdCradDesc, faceCode, 
      faceDesc, similarity)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{idcard0,jdbcType=VARCHAR}, 
      #{idcard1,jdbcType=VARCHAR}, #{userphoto,jdbcType=VARCHAR}, #{idcode,jdbcType=VARCHAR}, 
      #{truename,jdbcType=VARCHAR}, #{endtime,jdbcType=DATE}, #{rectime,jdbcType=TIMESTAMP}, 
      #{ispass,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{birth,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{authority,jdbcType=VARCHAR}, 
      #{verifyidcrad,jdbcType=INTEGER}, #{verifyidcraddesc,jdbcType=VARCHAR}, #{facecode,jdbcType=INTEGER}, 
      #{facedesc,jdbcType=VARCHAR}, #{similarity,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="idcard0 != null">
        idcard0,
      </if>
      <if test="idcard1 != null">
        idcard1,
      </if>
      <if test="userphoto != null">
        userPhoto,
      </if>
      <if test="idcode != null">
        idCode,
      </if>
      <if test="truename != null">
        trueName,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="rectime != null">
        recTime,
      </if>
      <if test="ispass != null">
        isPass,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="authority != null">
        authority,
      </if>
      <if test="verifyidcrad != null">
        verifyIdCrad,
      </if>
      <if test="verifyidcraddesc != null">
        verifyIdCradDesc,
      </if>
      <if test="facecode != null">
        faceCode,
      </if>
      <if test="facedesc != null">
        faceDesc,
      </if>
      <if test="similarity != null">
        similarity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        #{ispass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=VARCHAR},
      </if>
      <if test="verifyidcrad != null">
        #{verifyidcrad,jdbcType=INTEGER},
      </if>
      <if test="verifyidcraddesc != null">
        #{verifyidcraddesc,jdbcType=VARCHAR},
      </if>
      <if test="facecode != null">
        #{facecode,jdbcType=INTEGER},
      </if>
      <if test="facedesc != null">
        #{facedesc,jdbcType=VARCHAR},
      </if>
      <if test="similarity != null">
        #{similarity,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        idcard0 = #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        idcard1 = #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        userPhoto = #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        idCode = #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        trueName = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        recTime = #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        isPass = #{ispass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        authority = #{authority,jdbcType=VARCHAR},
      </if>
      <if test="verifyidcrad != null">
        verifyIdCrad = #{verifyidcrad,jdbcType=INTEGER},
      </if>
      <if test="verifyidcraddesc != null">
        verifyIdCradDesc = #{verifyidcraddesc,jdbcType=VARCHAR},
      </if>
      <if test="facecode != null">
        faceCode = #{facecode,jdbcType=INTEGER},
      </if>
      <if test="facedesc != null">
        faceDesc = #{facedesc,jdbcType=VARCHAR},
      </if>
      <if test="similarity != null">
        similarity = #{similarity,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    set userId = #{userid,jdbcType=VARCHAR},
      idcard0 = #{idcard0,jdbcType=VARCHAR},
      idcard1 = #{idcard1,jdbcType=VARCHAR},
      userPhoto = #{userphoto,jdbcType=VARCHAR},
      idCode = #{idcode,jdbcType=VARCHAR},
      trueName = #{truename,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=DATE},
      recTime = #{rectime,jdbcType=TIMESTAMP},
      isPass = #{ispass,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=VARCHAR},
      verifyIdCrad = #{verifyidcrad,jdbcType=INTEGER},
      verifyIdCradDesc = #{verifyidcraddesc,jdbcType=VARCHAR},
      faceCode = #{facecode,jdbcType=INTEGER},
      faceDesc = #{facedesc,jdbcType=VARCHAR},
      similarity = #{similarity,jdbcType=REAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="mapper.SeUserAttestation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="idcard0" jdbcType="VARCHAR" property="idcard0" />
    <result column="idcard1" jdbcType="VARCHAR" property="idcard1" />
    <result column="userPhoto" jdbcType="VARCHAR" property="userphoto" />
    <result column="idCode" jdbcType="VARCHAR" property="idcode" />
    <result column="trueName" jdbcType="VARCHAR" property="truename" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="recTime" jdbcType="TIMESTAMP" property="rectime" />
    <result column="isPass" jdbcType="INTEGER" property="ispass" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
    <result column="verifyIdCrad" jdbcType="INTEGER" property="verifyidcrad" />
    <result column="verifyIdCradDesc" jdbcType="VARCHAR" property="verifyidcraddesc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, idcard0, idcard1, userPhoto, idCode, trueName, endTime, recTime, isPass, 
    sex, nation, birth, address, authority, verifyIdCrad, verifyIdCradDesc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation (id, userId, idcard0, 
      idcard1, userPhoto, idCode, 
      trueName, endTime, recTime, 
      isPass, sex, nation, 
      birth, address, authority, 
      verifyIdCrad, verifyIdCradDesc)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{idcard0,jdbcType=VARCHAR}, 
      #{idcard1,jdbcType=VARCHAR}, #{userphoto,jdbcType=VARCHAR}, #{idcode,jdbcType=VARCHAR}, 
      #{truename,jdbcType=VARCHAR}, #{endtime,jdbcType=DATE}, #{rectime,jdbcType=TIMESTAMP}, 
      #{ispass,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{birth,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{authority,jdbcType=VARCHAR}, 
      #{verifyidcrad,jdbcType=INTEGER}, #{verifyidcraddesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="idcard0 != null">
        idcard0,
      </if>
      <if test="idcard1 != null">
        idcard1,
      </if>
      <if test="userphoto != null">
        userPhoto,
      </if>
      <if test="idcode != null">
        idCode,
      </if>
      <if test="truename != null">
        trueName,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="rectime != null">
        recTime,
      </if>
      <if test="ispass != null">
        isPass,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="authority != null">
        authority,
      </if>
      <if test="verifyidcrad != null">
        verifyIdCrad,
      </if>
      <if test="verifyidcraddesc != null">
        verifyIdCradDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        #{ispass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=VARCHAR},
      </if>
      <if test="verifyidcrad != null">
        #{verifyidcrad,jdbcType=INTEGER},
      </if>
      <if test="verifyidcraddesc != null">
        #{verifyidcraddesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        idcard0 = #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        idcard1 = #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        userPhoto = #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        idCode = #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        trueName = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        recTime = #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        isPass = #{ispass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        authority = #{authority,jdbcType=VARCHAR},
      </if>
      <if test="verifyidcrad != null">
        verifyIdCrad = #{verifyidcrad,jdbcType=INTEGER},
      </if>
      <if test="verifyidcraddesc != null">
        verifyIdCradDesc = #{verifyidcraddesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    set userId = #{userid,jdbcType=VARCHAR},
      idcard0 = #{idcard0,jdbcType=VARCHAR},
      idcard1 = #{idcard1,jdbcType=VARCHAR},
      userPhoto = #{userphoto,jdbcType=VARCHAR},
      idCode = #{idcode,jdbcType=VARCHAR},
      trueName = #{truename,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=DATE},
      recTime = #{rectime,jdbcType=TIMESTAMP},
      isPass = #{ispass,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=VARCHAR},
      verifyIdCrad = #{verifyidcrad,jdbcType=INTEGER},
      verifyIdCradDesc = #{verifyidcraddesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="mapper.SeUserAttestation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="idcard0" jdbcType="VARCHAR" property="idcard0" />
    <result column="idcard1" jdbcType="VARCHAR" property="idcard1" />
    <result column="userPhoto" jdbcType="VARCHAR" property="userphoto" />
    <result column="idCode" jdbcType="VARCHAR" property="idcode" />
    <result column="trueName" jdbcType="VARCHAR" property="truename" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="recTime" jdbcType="TIMESTAMP" property="rectime" />
    <result column="isPass" jdbcType="INTEGER" property="ispass" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, idcard0, idcard1, userPhoto, idCode, trueName, endTime, recTime, isPass, 
    sex, nation, birth, address, authority
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation (id, userId, idcard0, 
      idcard1, userPhoto, idCode, 
      trueName, endTime, recTime, 
      isPass, sex, nation, 
      birth, address, authority
      )
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{idcard0,jdbcType=VARCHAR}, 
      #{idcard1,jdbcType=VARCHAR}, #{userphoto,jdbcType=VARCHAR}, #{idcode,jdbcType=VARCHAR}, 
      #{truename,jdbcType=VARCHAR}, #{endtime,jdbcType=DATE}, #{rectime,jdbcType=TIMESTAMP}, 
      #{ispass,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{birth,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{authority,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="idcard0 != null">
        idcard0,
      </if>
      <if test="idcard1 != null">
        idcard1,
      </if>
      <if test="userphoto != null">
        userPhoto,
      </if>
      <if test="idcode != null">
        idCode,
      </if>
      <if test="truename != null">
        trueName,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="rectime != null">
        recTime,
      </if>
      <if test="ispass != null">
        isPass,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="authority != null">
        authority,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        #{ispass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        idcard0 = #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        idcard1 = #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        userPhoto = #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        idCode = #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        trueName = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        recTime = #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        isPass = #{ispass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        authority = #{authority,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    set userId = #{userid,jdbcType=VARCHAR},
      idcard0 = #{idcard0,jdbcType=VARCHAR},
      idcard1 = #{idcard1,jdbcType=VARCHAR},
      userPhoto = #{userphoto,jdbcType=VARCHAR},
      idCode = #{idcode,jdbcType=VARCHAR},
      trueName = #{truename,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=DATE},
      recTime = #{rectime,jdbcType=TIMESTAMP},
      isPass = #{ispass,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="mapper.SeUserAttestation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="idcard0" jdbcType="VARCHAR" property="idcard0" />
    <result column="idcard1" jdbcType="VARCHAR" property="idcard1" />
    <result column="userPhoto" jdbcType="VARCHAR" property="userphoto" />
    <result column="idCode" jdbcType="VARCHAR" property="idcode" />
    <result column="trueName" jdbcType="VARCHAR" property="truename" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="recTime" jdbcType="TIMESTAMP" property="rectime" />
    <result column="isPass" jdbcType="INTEGER" property="ispass" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, idcard0, idcard1, userPhoto, idCode, trueName, endTime, recTime, isPass, 
    sex, nation, birth, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation (id, userId, idcard0, 
      idcard1, userPhoto, idCode, 
      trueName, endTime, recTime, 
      isPass, sex, nation, 
      birth, address)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{idcard0,jdbcType=VARCHAR}, 
      #{idcard1,jdbcType=VARCHAR}, #{userphoto,jdbcType=VARCHAR}, #{idcode,jdbcType=VARCHAR}, 
      #{truename,jdbcType=VARCHAR}, #{endtime,jdbcType=DATE}, #{rectime,jdbcType=TIMESTAMP}, 
      #{ispass,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{birth,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="idcard0 != null">
        idcard0,
      </if>
      <if test="idcard1 != null">
        idcard1,
      </if>
      <if test="userphoto != null">
        userPhoto,
      </if>
      <if test="idcode != null">
        idCode,
      </if>
      <if test="truename != null">
        trueName,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="rectime != null">
        recTime,
      </if>
      <if test="ispass != null">
        isPass,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        #{ispass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        idcard0 = #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        idcard1 = #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        userPhoto = #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        idCode = #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        trueName = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        recTime = #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        isPass = #{ispass,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    set userId = #{userid,jdbcType=VARCHAR},
      idcard0 = #{idcard0,jdbcType=VARCHAR},
      idcard1 = #{idcard1,jdbcType=VARCHAR},
      userPhoto = #{userphoto,jdbcType=VARCHAR},
      idCode = #{idcode,jdbcType=VARCHAR},
      trueName = #{truename,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=DATE},
      recTime = #{rectime,jdbcType=TIMESTAMP},
      isPass = #{ispass,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="mapper.SeUserAttestation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="idcard0" jdbcType="VARCHAR" property="idcard0" />
    <result column="idcard1" jdbcType="VARCHAR" property="idcard1" />
    <result column="userPhoto" jdbcType="VARCHAR" property="userphoto" />
    <result column="idCode" jdbcType="VARCHAR" property="idcode" />
    <result column="trueName" jdbcType="VARCHAR" property="truename" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="recTime" jdbcType="TIMESTAMP" property="rectime" />
    <result column="isPass" jdbcType="INTEGER" property="ispass" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, idcard0, idcard1, userPhoto, idCode, trueName, endTime, recTime, isPass
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation (id, userId, idcard0, 
      idcard1, userPhoto, idCode, 
      trueName, endTime, recTime, 
      isPass)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{idcard0,jdbcType=VARCHAR}, 
      #{idcard1,jdbcType=VARCHAR}, #{userphoto,jdbcType=VARCHAR}, #{idcode,jdbcType=VARCHAR}, 
      #{truename,jdbcType=VARCHAR}, #{endtime,jdbcType=DATE}, #{rectime,jdbcType=TIMESTAMP}, 
      #{ispass,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="idcard0 != null">
        idcard0,
      </if>
      <if test="idcard1 != null">
        idcard1,
      </if>
      <if test="userphoto != null">
        userPhoto,
      </if>
      <if test="idcode != null">
        idCode,
      </if>
      <if test="truename != null">
        trueName,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="rectime != null">
        recTime,
      </if>
      <if test="ispass != null">
        isPass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        #{ispass,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        idcard0 = #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        idcard1 = #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        userPhoto = #{userphoto,jdbcType=VARCHAR},
      </if>
      <if test="idcode != null">
        idCode = #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        trueName = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=DATE},
      </if>
      <if test="rectime != null">
        recTime = #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispass != null">
        isPass = #{ispass,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    set userId = #{userid,jdbcType=VARCHAR},
      idcard0 = #{idcard0,jdbcType=VARCHAR},
      idcard1 = #{idcard1,jdbcType=VARCHAR},
      userPhoto = #{userphoto,jdbcType=VARCHAR},
      idCode = #{idcode,jdbcType=VARCHAR},
      trueName = #{truename,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=DATE},
      recTime = #{rectime,jdbcType=TIMESTAMP},
      isPass = #{ispass,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="mapper.SeUserAttestation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="idcard0" jdbcType="VARCHAR" property="idcard0" />
    <result column="idcard1" jdbcType="VARCHAR" property="idcard1" />
    <result column="userPhoto" jdbcType="VARCHAR" property="userphoto" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, idcard0, idcard1, userPhoto
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from se_user_attestation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation (id, userId, idcard0, 
      idcard1, userPhoto)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{idcard0,jdbcType=VARCHAR}, 
      #{idcard1,jdbcType=VARCHAR}, #{userphoto,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mapper.SeUserAttestation">
    insert into se_user_attestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="idcard0 != null">
        idcard0,
      </if>
      <if test="idcard1 != null">
        idcard1,
      </if>
      <if test="userphoto != null">
        userPhoto,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        #{userphoto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="idcard0 != null">
        idcard0 = #{idcard0,jdbcType=VARCHAR},
      </if>
      <if test="idcard1 != null">
        idcard1 = #{idcard1,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null">
        userPhoto = #{userphoto,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mapper.SeUserAttestation">
    update se_user_attestation
    set userId = #{userid,jdbcType=VARCHAR},
      idcard0 = #{idcard0,jdbcType=VARCHAR},
      idcard1 = #{idcard1,jdbcType=VARCHAR},
      userPhoto = #{userphoto,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>